URL="http://localhost"              # URL donde está desplegado Dolibarr
USUARIO="admin"                     # Usuario de Dolibarr (debe tener permisos suficientes para usar las funcionalidades a probar)
CONTRASENA="admin"                  # Contraseña del usuario de Dolibarr